@{
    ViewData["Title"] = "Who We Are";
}

<h4>Our Practice</h4>
    <aside class="float-right w-75"><img class="w-100 pl-2" src="~/images/banner.jpg" /></aside>
    <p class="float-left w-25">
        At Central Maryland Martial Arts, we primarily teach Tang Soo Doo: A Korean martial art that loosely translates to: "Way of the Chinese Hand".
        From the various Chinese martial arts that exist, Tang Soo Do primarily inherits many of the qualities of Kung Fu.
        Our school also integrates techniques originating from Jiu-Jitsu, Tai Chi, American Boxing, and some Philipino-Indonesian martial arts. 
    </p><br />
<h6>
    Notable practitioners include:
</h6>
<p>
    Chuck and Aaron Norris, and Steve McQueen
</p>
@* <h4>Our Studio</h4>
<p>
    Our Kwang Jang Nim (School Founder), David Bucheimer, started his school in the 90s.
</p> *@
@* <h4>Applications</h4>
<p>
    There are martial arts schools with the goal to build confidence in their students, and there are schools that strive to perfect their niche.
    For us at CMMA, what inspires us to learn is both more simple, and at the same time more personal.
</p> *@
<h4>Contact Us</h4>
<h6>You can find us at:</h6>
<p>
    5714 Industry Ln Unit E, Frederick, MD 21704 on the top floor
</p>
<h6>For more information, call:</h6>
<p>
    (301) 228-9368
</p>
